@charset "UTF-8";
.screen{
	border:1px solid black;
	display:flex;
	flex-direction:column;
}

#section1{
	border:1px solid black;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.mainScreen{
	border:1px solid black;
	display:flex;
	flex-direction:row;
}

.contents{
	border:1px solid black;
	width:80vw;
	height:90vh;
}

.sideNavBar>button{
	margin:10px;
}
