<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.signhere.beans.UserBean" alias="UserBean"/>
		<typeAlias type="com.signhere.beans.DocumentBean" alias="DocumentBean"/>
		<typeAlias type="com.signhere.beans.CompanyBean" alias="CompanyBean"/>
		<typeAlias type="com.signhere.beans.AccessBean" alias="AccessBean"/>
		<typeAlias type="com.signhere.beans.EntrustBean" alias="EntrustBean"/>
	</typeAliases>
	
</configuration>