<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.signhere.beans.UserBean" alias="UserBean"/>
		<typeAlias type="com.signhere.beans.DocumentBean" alias="DocumentBean"/>
		<typeAlias type="com.signhere.beans.CompanyBean" alias="CompanyBean"/>
		<typeAlias type="com.signhere.beans.AccessBean" alias="AccessBean"/>
		<typeAlias type="com.signhere.beans.EntrustBean" alias="EntrustBean"/>
		<typeAlias type="com.signhere.beans.DepartmentBean" alias="DepartmentBean"/>
		<typeAlias type="com.signhere.beans.GradeBean" alias="GradeBean"/>
		<typeAlias type="com.signhere.beans.WriteBean" alias="WriteBean"/>
		<typeAlias type="com.signhere.beans.ReadingReferenceBean" alias="ReadingReferenceBean"/>
		<typeAlias type="com.signhere.beans.ApprovalBean" alias="ApprovalBean"/>
		<typeAlias type="com.signhere.beans.ApprovalCommentBean" alias="ApprovalCommentBean"/>
		<typeAlias type="com.signhere.beans.CompanionBean" alias="CompanionBean"/>
		<typeAlias type="com.signhere.beans.DeferBean" alias="DeferBean"/>
		<typeAlias type="com.signhere.beans.CompanionDeferBean" alias="CompanionDeferBean"/>
		
		
		
		
		
	</typeAliases>
</configuration>